name: Build Packages

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up building environment
      run: |
        sudo apt-get update
        sudo apt-get install -y rpm dpkg-dev

    - name: Build Packages
      run: ./build.sh

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: packages
        path: dist/
