name: Build Package

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y rpm

    - name: Build Package
      run: |
        chmod +x build.sh
        VERSION=${GITHUB_REF#refs/tags/}
        echo "Building version $VERSION"
        ./build.sh $VERSION

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: packages
        path: dist/