name: CI / Build

on:
  push:
    branches: [ master, main ]
    tags:
      - '*'
  pull_request:
    branches: [ master, main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
        # OpenSSL is required for tests
        sudo apt-get update
        sudo apt-get install -y openssl

    - name: Run tests
      run: |
        pytest --cov=migasfree_connect tests/

  build:
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y rpm

    - name: Build Package
      run: |
        chmod +x build.sh
        VERSION=${GITHUB_REF#refs/tags/}
        echo "Building version $VERSION"
        ./build.sh $VERSION

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: packages
        path: dist/